.elementor-kit-797{--e-global-color-primary:#6EC1E4;--e-global-color-secondary:#54595F;--e-global-color-text:#7A7A7A;--e-global-color-accent:#61CE70;--e-global-color-79788aac:#4054B2;--e-global-color-683b7dac:#23A455;--e-global-color-3f80ffb6:#000;--e-global-color-e20dab6:#FFF;--e-global-typography-primary-font-family:"Roboto";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Roboto Slab";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Roboto";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}{}h1.entry-title{display:var(--page-title-display);}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1025px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:768px;}}
/*
     FILE ARCHIVED ON 08:17:53 Dec 17, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:00:16 Sep 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 71.944
  exclusion.robots: 0.1
  exclusion.robots.policy: 0.086
  cdx.remote: 0.082
  esindex: 0.011
  LoadShardBlock: 41.075 (3)
  PetaboxLoader3.datanode: 55.772 (4)
  load_resource: 89.767
  PetaboxLoader3.resolve: 50.549
*/